In [25]:
import numpy as np
import pandas as pd
from cluster_optimizer import ClusterOptimizer
from sklearn import cluster
from sklearn.datasets import load_iris

df, tar = load_iris(return_X_y=True, as_frame=True)
df=pd.DataFrame(df)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [26]:
grid = {"eps": np.arange(.25, 3.25, .25), "min_samples": [5, 20, 50]}
grid

{'eps': array([0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 , 2.75,
        3.  ]),
 'min_samples': [5, 20, 50]}

In [27]:
search = ClusterOptimizer(cluster.DBSCAN(), grid, n_jobs=-1, scoring="calinski_harabasz", verbose=10, error_score=-1)
search

ClusterOptimizer(error_score=-1, estimator=DBSCAN(), n_jobs=-1,
                 param_grid={'eps': array([0.25, 0.5 , 0.75, 1.  , 1.25, 1.5 , 1.75, 2.  , 2.25, 2.5 , 2.75,
       3.  ]),
                             'min_samples': [5, 20, 50]},
                 scoring=make_scorer(calinski_harabasz_score), verbose=10)

In [28]:
search.fit(df)
search.best_score_

Fitting 1 folds for each of 36 candidates, totalling 36 fits

509.7034266772456

In [29]:
search.best_estimator_

DBSCAN(eps=1.75, min_samples=50)